<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>EditEmployeeDetailsServlet</display-name>
    <servlet-name>EditEmployeeDetailsServlet</servlet-name>
    <servlet-class>controller.EditEmployeeDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEmployeeDetailsServlet</servlet-name>
    <url-pattern>/EditEmployeeDetailsServlet</url-pattern>
  </servlet-mapping>
  <display-name>WebEmployeesApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ListNavigationServlet</servlet-name>
    <servlet-class>controller.ListNavigationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <servlet-class>controller.EditEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NavigationServlet</servlet-name>
    <servlet-class>controller.NavigationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddItemsForListServlet</servlet-name>
    <servlet-class>controller.AddItemsForListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreateNewListServlet</servlet-name>
    <servlet-class>controller.CreateNewListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewAllEmployeeServlet</servlet-name>
    <servlet-class>controller.ViewAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewAllEmployeeList</servlet-name>
    <servlet-class>controller.ViewAllEmployeeList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>controller.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListNavigationServlet</servlet-name>
    <url-pattern>/listNavigationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditEmployeeServlet</servlet-name>
    <url-pattern>/editEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NavigationServlet</servlet-name>
    <url-pattern>/navigationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddItemsForListServlet</servlet-name>
    <url-pattern>/addItemsForListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreateNewListServlet</servlet-name>
    <url-pattern>/createNewListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeeServlet</servlet-name>
    <url-pattern>/viewAllEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewAllEmployeeList</servlet-name>
    <url-pattern>/viewAllEmployeeList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/addEmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>